* {
  box-sizing: border-box;
}
th {
  text-align: left;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 0.9em;
}
a {
  color: black;
  font-family: "Barlow", sans-serif;
}
td {
  font-size: 0.8em;
  font-family: "Barlow", sans-serif;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-weight: 500;
}
td a {
  font-size: 13px;
}
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
.navbar a {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Barlow", sans-serif;
}
.table-div {
  margin-top: 50px;
}
.logo {
  background-color: black;
  padding: 5px;
  border-radius: 6px;
  width: 200;
  height: 70;
  margin-top: 125px;
}

.button {
  display: inline-block;
  padding: 0 1em;
  background: #000;
  line-height: 2.7em;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  font-size: 18px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Barlow", sans-serif;
  font-size: 14px;
}
.button:hover {
  background-color: #fff;
  color: #000;
}
a.button {
  text-decoration: none;
  font-weight: 400;
}

.main-description {
  width: 95%;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 2.3em;
}

.row {
  width: 100%;
}
.column-left {
  position: fixed;
  margin-left: 75px;
  width: 40%;
}

.column-right {
  text-align: left;
  width: 60%;
  float: right;
  padding-left: 15px;
}

.main-heading {
  display: none;
}

/* Responsive Styling */

@media only screen and (max-width: 800px) {
  .column-left {
    position: static;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .column-right {
    width: 100%;
    padding-left: 50px;
  }
  .logo {
    margin-top: 75px;
  }
  .navbar a {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 600px) {
  .column-right {
    padding-left: 10px;
  }
  .main-description {
    font-size: 1.5em;
  }
  .navbar a {
    font-size: 1em;
    margin-left: 50px;
  }
  a.all-companies-btn {
    display: inline-block;
    margin: 30px auto;
    text-decoration: none;
    font-weight: bold;
  }
}

/* Portfolio Page Styling */
table.portfolio-table {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -30px;
}
.small-logo {
  width: 200;
  height: 70;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin-left: -100px;
}
div.navbar-portfolio {
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navbar-portfolio a {
  text-decoration: none;
  margin-left: 75px;
  margin-right: auto;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
.portfolio-heading {
  text-align: center;
  font-family: "Barlow", sans-serif;
  margin-top: 120px;
  font-size: 3em;
  font-weight: bold;
}
.portfolio-description {
  text-align: center;
  font-family: "Barlow", sans-serif;
  width: 50%;
  margin: auto;
  font-size: 25px;
}
a.active {
  color: #00abeb;
}
.table-div {
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 0px;
}
@media only screen and (max-width: 800px) {
  .portfolio-description {
    width: 100%;
  }
}
/* @media only screen and (max-width: 600px) {
  .small-logo {
    margin-left: -475px;
  }
} */
@media only screen and (max-width: 600px) {
  td {
    padding: 0;
    padding-bottom: 10px;
  }
  a.nav-a {
    margin-left: 130px;
  }
  .table-div {
    margin-left: 0;
  }
  .small-logo {
    display: inline-block;
    margin-left: -65px;
  }
  .navbar-portfolio a {
    margin-left: 20px;
  }
}
.network-table {
  margin-bottom: 200px;
}
.all-companies-btn-div {
  margin-bottom: 50px;
  margin-top: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}
.all-companies-btn-div a {
  text-decoration: none;
}
